@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
}
:root {
 --head-bg: #caebf2;
 --body-bg-central: #efefef;
 --body-bg-out: #a9a9a9;
 --foot-bg: #3c3c3c;
 --body-text: #657b83;
 --head-text: #00303f;
 --head-text-h: #ff383f;
 --foot-text: #a9a9a9;
}
html {
    height: 100%;
}
body {
	font-family: 'Lato';
	font-style: normal;
	height: auto;
}
p {
  padding-bottom: 0.75em;
}
/* General utility classes */
.uppercase {text-transform: uppercase}
.lowercase {text-transform: lowercase}
.italic {font-style: italic;}
.rail {font-family: 'Raleway'; font-weight: 300;}
.s1 {font-size: 1em;}
.s2 {font-size: 0.75em;}
.s3 {font-size: 0.5em;}
.left {text-align: left;}
/* Navbar definitions */
#navbar {
	background-color: var(--head-bg);
	top: 0;
	left: 0;
	width: 100%;
	height: 4.5em;
	position: fixed;
	box-shadow: 0px 3px 3px #8c8c8c;
}
ul.top {
	list-style-type: none;
	overflow: hidden;
	height: 2.5em;
	left: 0px;
	padding-left: 3em;
	margin-top: 1em;
	background-color: var(--head-bg);
}
li.top {
	float: left;
}
li.logo {
	float: left;
	display: block;
	color: var(--head-text);
	text-align: left;
	font-weight: 100;
	padding-right: 1em;
	font-style: italic;
	font-size: 2.5em;
	transform: translateY(-10%);
}
li.top a {
	display: block;
	color: var(--head-text);
	text-align: center;
	font-weight: 300;
	font-size: 1em;
	padding: .75em 2.0em;
	text-decoration: none;
}
li.top a:hover {
	color: var(--head-text-h);
}
li.top a.active {
	text-decoration: underline;
}
/* Main Page Definitions */
#bodyWrap {
	margin-top: 4.5em;
	background-color: var(--body-bg-out);
	width: 100%;
	height: auto;
}
#grad {
	background: linear-gradient(to right, var(--body-bg-out), var(--body-bg-central) 0.5em, var(--body-bg-central) 45.5em, var(--body-bg-out) 46em);
	width: 46em;
	height: auto;
	margin: 0em auto; /* Centers it */
}
#content {
	background-color: var(--body-bg-central);
	top: 0em;
	margin: auto;
	height: auto;
	min-height: calc(100vh - 4.5em - 1.5em);
	width: 45em;
	position: reletive;
}
.bodyText {
	width: 70%;
	margin: 0em auto; /* Centers it */
	font-size: 150%;
	text-align: center;
	padding-top: 16px;
	color: var(--body-text);
}
#foot {
	background-color: var(--foot-bg);
	bottom: 0;
	height: 1.5em;
	position: reletive;
	width: 100%;
}

.footText {
	font-size: 60%;
	text-align: center;
	padding-top: 0.5em;
	color: var(--foot-text);
}
